SECRET_KEY=your-secret-key
DEBUG=True
BASE_HG_API_URL='https://api.hgbrasil.com/finance'
HG_API_KEY=your-hg-api-key
POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django_password
POSTGRES_HOST=db
REDIS_CACHE_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=email.@example.com
ALLOWED_HOSTS=localhost,127.0.0.1
