{% extends 'base_auth.html' %}

{% block title %}Reset Password — B3 Monitor{% endblock %}

{% block content %}
<main class="d-flex flex-column justify-content-center min-vh-100 py-5">
    <section>
        <div class="container">
            <div class="row mb-8">
                <div class="col-xl-4 offset-xl-4 col-md-12 col-12">
                    <div class="text-center">
                        <a href="{% url 'accounts:login' %}" class="fs-2 fw-bold d-flex align-items-center gap-2 justify-content-center mb-6 text-decoration-none">
                            <i class="ti ti-chart-line"></i>
                            <span>B3 Monitor</span>
                        </a>
                        <h1 class="mb-1">Forgot Password</h1>
                        <p class="mb-0 text-secondary">No worries, we will send you reset instructions.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-8 col-12">
                    <div class="card card-lg mb-6">
                        <div class="card-body p-6">
                            <form method="post" novalidate class="needs-validation mb-5">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="id_email" class="form-label">
                                        Email
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="email" name="email" id="id_email" class="form-control" placeholder="Enter your email" required>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Reset Password</button>
                                </div>
                            </form>
                            <div class="text-center">
                                <a href="{% url 'accounts:login' %}">
                                    <span>Back to Login</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
